/* how to fix the way sometimes the email text drops below the picture? */
/* -- MAIN STYLES ------------------------------------------------- */
* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  grid-gap: 25px;
}
.card {
  border: 2px solid rgb(218, 218, 218);
  border-radius: 6px;
  padding: 20px;
  transition: all 200ms ease;
}
.card:hover,
.card:focus {
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.2);
}
.text-container {
  padding-top: 20px;
}
hr {
  color: rgb(211, 209, 209);
}

.pointer {
  cursor: pointer;
}

/* -- FONTS ------------------------------------------------- */
body {
  position: relative;
  font-family: "Urbanist", sans-serif;
  color: rgb(122, 127, 133);
  font-size: 20px;
  vertical-align: middle;
  line-height: 1.6;
  margin: 50px;
}
h1 {
  font-size: 25px;
  padding-bottom: 15px;
}
h1,
.name {
  color: black;
  margin: 0;
}
h2 {
  font-size: 1em;
  font-weight: 500;
}
p {
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}

/* -- EMAIL TEXT OVERFLOW STYLING ------------------------------------------------- */
.overflow {
  /**Required properties to achieve text-overflow */
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
}

/* -- IMAGE STYLES ------------------------------------------------- */
.avatar {
  border-radius: 50%;
  width: 125px;
  float: left;
  margin-right: 20px;
}
.modal-content > .avatar {
  margin: 0 auto;
}

/* -- MODAL STYLING ------------------------------------------------- */
.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
  padding: 30px 20px;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.2);
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  background-color: white;
  border: none;
}

.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.hidden {
  display: none;
}

/* -- TABLET ------------------------------------------------- */
@media (min-width: 768px) {
}
/* -- DESKTOP ------------------------------------------------- */
@media (min-width: 1024px) {
}
