/* how to fix the way sometimes the email text drops below the picture? */
/* -- MAIN STYLES ------------------------------------------------- */
* {
  box-sizing: border-box;
}

h1,
h2,
p,
body,
header,
main {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-template-rows: auto;
  grid-gap: 25px;
}
.card {
  border: 2px solid rgb(218, 218, 218);
  border-radius: 7px;
  padding: 12px;
  transition: all 200ms ease;
  background-color: white;
}
.card:hover,
.card:focus {
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.2);
}
.text-container {
  padding-top: 20px;
}
hr {
  border-color: rgb(211, 209, 209);
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 30px 0;
}

.pointer {
  cursor: pointer;
}

/* -- FONTS ------------------------------------------------- */
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: rgb(122, 127, 133);
  font-size: 20px;
  vertical-align: middle;
  line-height: 1.6;
  margin: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-family: "Bungee Shade", cursive;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
}
.name {
  color: #333;
  margin: 0;
}
h2 {
  font-size: 1em;
  font-weight: 600;
}
p {
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}

/* -- EMAIL TEXT OVERFLOW STYLING ------------------------------------------------- */
.overflow {
  /**Required properties to achieve text-overflow */
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
}

/* -- IMAGE STYLES ------------------------------------------------- */
.avatar {
  border-radius: 50%;
  width: 125px;
  float: left;
  margin-right: 20px;
}
.modal-content > .avatar {
  margin: 0 auto;
}

/* -- MODAL STYLING ------------------------------------------------- */
.modal {
  width: 290px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 7px;
  padding: 30px 20px;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.2);
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  background-color: white;
  border: none;
}

.modal-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.9;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.hidden {
  display: none;
}

main {
  padding-bottom: 5rem;
}

@media (min-width: 450px) {
  .modal {
    width: 375px;
  }
  body {
    margin: 1rem;
  }
  .card {
    padding: 20px;
  }
}

/* -- TABLET ------------------------------------------------- */
@media (min-width: 768px) {
  body {
    margin: 4rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-gap: 25px;
  }
  h1 {
    font-size: 5rem;
  }
}
/* -- DESKTOP ------------------------------------------------- */
@media (min-width: 1024px) {
}
